* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 1.44rem;
    line-height: 1.44;
    height: 100%;
  }

header {
    background-color: rgb(79, 19, 97);
}

body{
    background-color: rgb(163, 128, 173);
}
h1 {
    color: rgb(193, 157, 215); 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    letter-spacing: 5px; 
    word-spacing: 20px; 
    text-shadow: 5px 5px 5px rgb(46, 11, 19); 
    font-size: 70px;
}
  img {
    opacity: 0.25;
    transition: opacity 500ms;
    width: 25%;
    position: absolute;
  }
  
  img:hover {
    opacity: 1;
  }

  .fancy-button { 
    background-color: rgb(136, 42, 219);
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px pink;
    color: white;
    
     /* place buttom of the page*/
    position:relative;
    margin-top:100%;
}
.fancy-button:hover{ 
    background-color: rgb(141, 79, 144);
    color: white;
}

 