*{ 
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
nav ul li {
    display: inline-block; 
    margin-right: 20px;
    font-size: 30px;
    font-style: oblique;
}
html {
    scroll-behavior: smooth;
    }

main article img{
    width: 100%;
    height: auto;
}
.fancy-button { 
    background-color: rgb(101, 56, 56);
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px pink;
    color: white;
}
.fancy-button:hover{ 
    background-color: indianred;
    color: white;
}
header{
    background-color: rgb(137, 32, 57);
}
h1 {
    color: rgb(202, 56, 75); 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    letter-spacing: 5px; 
    word-spacing: 20px; 
    text-shadow: 5px 5px 5px rgb(46, 11, 19); 
    font-size: 100px;
}
body {
    background-color: rgb(203, 108, 108);
}
figcaption {
    color: rgb(72, 33, 49);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4px;
}

figcaption:hover{
    color: rgb(211, 154, 178);
}

/* figure{
    text-align: center;
} */
h2{
    background-color: rgb(208, 121, 121);
    color: rgb(172, 54, 93);
}

p{
    color: rgb(89, 17, 40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* pc180deg card */

/* .container{
    display: contents;
}

.card{
    border-radius: 20px;
    margin-left: 10px;
    height: 220px;
    background-color: white;
    flex: 1;
    transition: .3s all ease;
}

.card:hover{
    flex: 2;
    background-color: rgb(173, 73, 96);
} */

/* pc180deg card */


/* .card:hover .card-background {
    transform: scale(1.15) translateZ(0);
    background-size: 300px;
}

.card-grid:hover > .card:not(:hover) {
    transform: scale(.9);
}

.card-grid:hover > .card:not(:hover) .card-background,
.card-grid:hover > .card:not(:hover) .card-category {
    filter:brightness(0.5) saturate(0) contrast(1.2) blur(20px);
} */