/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html{
    scroll-behavior: smooth;
  }
  
  body {
    background-color:beige ;
  }

  a{
   text-decoration: none;
  }

/* Title */

header{
    background-color: #F26B6B;
    padding: 1em;
    font-family: "Erica One", sans-serif; 
    font-style: normal;

 h1{
    color: black ;
    font-weight: 400;
    font-size: 4rem;
 }

 h2{
    color: rgb(255, 255, 255) ;
    font-weight: 400;
    font-size: 1.3rem;
 }
}


/*header nav*/
nav{
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    position: absolute;
    left: 50px;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    font-weight: 300;
    padding-left: 120rem;
    font-size: 30px;
    display: grid; 

 li{
    display: inline-block;
 }

 a {
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
 }

 a:hover{
    color: #183B59;
    transition: 0.3s ease-in;
 }
}

.about{
    text-align: center;
    background-color: #A6775B;
    color: white;
    font-family: "Erica One", sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
}

.description{
    color: black;
    padding: 2rem;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
   
}

.outline{
   border: 0.3rem solid #304018;
   padding: 1rem;
}

#font-stores{
   font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-left: 1rem;

  h4{
   padding: 0.5rem;
   font-size: 1.1rem;
  }

  h5{
   padding-left: 0.5rem;
   padding-bottom: 0.2rem;
   font-size: 1.2rem;
  }
}
.title{
   color: black;
   padding-left: 1rem;
   padding-top: 1rem;
   font-family: "Caprasimo", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 2.5rem;
}

.location{
   font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;

}

/* .grid-layout{


} */

.yellow-text{
   color: #F2B705;
}



