*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fancy-button { 
    background-color: rgb(101, 56, 56);
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px pink;
    color: white;
}
.fancy-button:hover{ 
    background-color: indianred;
    color: white;
}
header{
    background-color: rgb(137, 32, 57);
}
h1 {
    color: rgb(202, 56, 75); 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    letter-spacing: 5px; 
    word-spacing: 20px; 
    text-shadow: 5px 5px 5px rgb(46, 11, 19); 
    font-size: 100px;
}
h2{
    background-color: rgb(208, 121, 121);
    color: rgb(172, 54, 93);
}
body {
    background-color: rgb(203, 108, 108);
}